@import url(font.css);


.boton {
    background: var(--blanco);
    color: var(--azulO);
    width: fit-content;
    min-width: 160px;
    height: 3rem;
    font-family: var(--roboto);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    border-radius: 50px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease, background 0.3s, color 0.3s, border 0.3s;
}

.boton:hover {
    background: var(--blanco);
    border: 3px solid var(--azulO);
    transform: scale(1.05) translateY(-2px);
}

.boton:active {
    transform: scale(0.98);
}