@import url(font.css);

.contenedor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 35rem;
    background-color:  var(--azulC);
}

.contenedorDes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.titulo{
    color: var(--azulO);
    font-family: var(--roboto);
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 3px;
}

.descripcion{
    color: var(--gris);
    text-align: center;
    font-family: var(--nunito);
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    margin-bottom: 3rem;
    margin-top: 3rem;
}


.img{
    width: 374px;
    height: 383px;
    border-radius: var(--radius);
    box-shadow: var(--shadow);
}


.animation {
    opacity: 0;
    animation-duration: 3s;
    animation-name: fadeIn; 
    animation-fill-mode: forwards; 
}

@keyframes fadeIn {
    from { opacity: 0; } 
    to { opacity: 1; } 
}